
#root {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

/* Smooth scrolling for anchor links */
a[href^="#"] {
  scroll-behavior: smooth;
}

/* Override container styles to be full width */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Add custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #004b23;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #38b000;
}
